* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
}

header {
    background: #272727;
    color: white;
    padding: 2rem;
    width: 100%;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
}

header span {
    display: block;
    text-align: center;
    font-size: 1.8rem;
}

nav {
    background: silver;
    color: white;
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    text-decoration: none;
}

nav a:link,
nav a:visited {
    color: blue;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline wavy;
}

main {
    background: darkgrey;
    margin: 8rem auto 2rem auto;
    padding: 2rem;
    width: 95%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

main h1 {
    grid-column: 1 / -1;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: 0 0 1rem 0;
    padding: 0;
}

.card {
    background: lightgrey;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px black;
    margin: 0;
    padding: 1rem;
    break-inside: avoid;
    width: 100%;
}

.card h2 {
    text-align: center;
    text-decoration: underline;
    padding: 1rem 0;
    font-size: 1.5rem;
    margin: 0;
}

footer {
    background: #272727;
    color: white;
    padding: 2rem;
    text-align: center;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 3;
    align-self: end;
}