body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
}

header {
    background: #272727;
    color: white;
    padding: 2rem;
    grid-column: 1 / 4;
}

.navbar {
    background: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / 4;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    text-decoration: none;
}

.navbar li {
    flex-grow: 1;
    justify-content: center;
    color: white;
    list-style: none;
}

li:link {
    color: white;
    text-decoration: none;
}

main {
    background: darkgrey;
    grid-column: 1 / 3;
    padding: 2rem;
}

.right-sidebar {
    background: white;
    grid-column: 3 / 4;
}

footer {
    background: #272727;
    color: white;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}