@media screen and (min-width: 500px) {
    h1 {
        max-width: 100%;
        background: grey;
        color: white;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}